<div>
<h2 class="bg-orange-300 text-neutal-900 rounded flex items-center cursor-pointer hover:bg-orange-400 focus:ring-4 ring-0 focus:ring-orange-100">
    <%= search[:title] %>
  </h2>
  <p class="bg-orange-300 text-neutal-900 rounded flex items-center cursor-pointer hover:bg-orange-400 focus:ring-4 ring-0 focus:ring-orange-100">
    <%= "Occurrences: #{search[:count]}" %>
  </p>
</div>